/* From Uiverse.io by bociKond */
body{
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #FAF9F6;
}

.App{
  padding: 0px;
  width: 100%;
  height: 100vh;  
}

/*Login page*/ 
.login,.register{
  height: inherit;
  display: flex;
  justify-content: center;
}
.form{ 
  width: 350px; 
  margin: auto;
} 
.form .title{
  font-size: 24px;
  font-weight: 600; 
  text-align: center; 
  color:#58bc82;
}
.field{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  padding-top:10px;
}
.field label{
  padding:0px 0px 5px 20px;
}
.field input{
  width: 260px;
  padding: 10px 20px;
  border-radius: 20px; 
  border-color: transparent;
  outline: 2px solid lightgray;
}

.field input:focus{
  outline: 2px solid #58bc82;
}
  
.form .submit{
  padding: 10px 20px;
  width : 310px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  margin: auto;
} 
.form .submit:hover{
  background-color: #58bc82;
  color: var(--bg-dark);
}
.form .signin,.subtitle{
  text-align: center;
}
/*main page*/ 
.main{
  width: inherit;
  height: inherit;
  display: grid; 
  grid-template-columns: 80px 350px 1fr;
  grid-template-rows: 1fr ; 
  grid-template-areas: 'sidebar chats chat';
  overflow:hidden;
} 

/*sideBar component*/
.sideBar{
  grid-area: sidebar;
  height : 95vh; 
  width : 90%; 
  display: flex;
  flex-direction: column;
  background-color: white; 
  border-radius: 14px;
  margin: auto;
  box-shadow: 0px 0px 10px 2px #d0d0d0;

}
.sideBarButtonDiv{
  display: flex;
  justify-content: center;
} 

#bottomButton{
  padding-bottom: 10px;
}

.sideBarButton{
  width : fit-content;
  height : fit-content;
  padding: 10px; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.sideBarButton:hover{
  background-color:lightgray;
}

.settingsButton{
  width: 60px;
  height:60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.sideBar .sideBarAvatar{
  width: 60px;
  height:60px;
  border-radius: 50%; 
} 

/*Chat component css*/
.chat{
  grid-area: chats;
  height : 95vh;  
  width: 90%;
  border-radius: 14px;
  background-color: white; 
  box-shadow: 0px 0px 10px 2px #d0d0d0;
  margin: auto;
} 
header{
  display: flex;

}
header h2{
  height: fit-content;
  padding: 0px 20px; 
  margin-left:10px;
  width : 200px;
}

header button{
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  border:none;
  background-color: transparent;
  
}

header button:hover{
  background-color: lightgray;
}

.searchContact{
  width: 250px;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  margin: auto; 
  margin-bottom: 10px;
  border: 2px solid lightgrey;
  outline: none;
} 

.searchContact:focus{
  outline: none;
  border-color: lightgray;
}
.contactsList{
  width: inherit;
}

.contactsList button{
  width: 100%;
  height:fit-content;
  background-color: transparent;
  border: none;
}

.contactsList button:hover{
  background-color: lightgray;
}

.contact{
  display: flex;
  width: inherit; 
  height : fit-content ;
  padding : 5px 20px;
}

.avatar{
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
}

.contactName{
  font-size: 18px;
  font-weight: 600;
  height: fit-content;
  margin: auto;
  margin-left: 10px ;  
}

/*Messages component*/
.messages{ 
  grid-area: chat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas: 'contactInfoArea' 'messageLog' 'textInputArea';
  height : 95vh;  
  width: 97%;
  margin: auto;
}

.messages header{ 
  grid-area: contactInfoArea;
  display: flex; 
  align-items: center; 
  border-radius: 14px;
  background-color: white; 
  box-shadow: 0px 0px 10px 2px #d0d0d0; 
  padding-left: 10px;
} 
.headerContact{
  display: flex; 
  height: fit-content; 
  margin-left: 10px;
  gap: 0px;
}
.usernameOnline{
  display: column;  
  padding: 0px 10px;
  gap: 0px; 
}
.headerContact p,.headerContact h3,.headerContact{  
  margin: 0px;
}
.usernameOnline h3{
  padding: 2px 0px;
  
}

.messageLog{ 
  grid-area: messageLog; 
  padding-top: 10px;
  overflow: auto;
  scrollbar-width: none;
}

.messageInput{
  grid-area: textInputArea;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.messageInput textarea{
  width : 80%; 
  border: none;
  height: fit-content;
  padding: 5px;
  margin-right: 10px;
  border:2px solid lightgray; 
  background-color: transparent;
  border-radius: 14px;
}
.messageInput textarea:focus{ 
  background-color: white;
  border-color: #707070;
} 
.messageSendDiv{
  display: flex;
  justify-content: flex-end;
}
.message,.messageSend{  
  border: 1px solid grey;
  width: fit-content;
  min-width: 100px;
  max-width: 400px;  
  margin: 0px 40px 20px 40px;
} 
 .message{
  border-radius: 0px 10px 10px 10px ;
  background-color: white;
 }
 
 .messageSend{
  border-radius: 10px 0px 10px 10px ;
  background-color:#58bc82; 
 }

.message p,.messageSend p{
  margin: 0px;
  padding: 5px; 
 
}

.messageTime{
  text-align: end;
}

/*Settings component*/
.settings{
  position: absolute;
  bottom: 5px;
  left: 5px;
  width : 400px;
  height : 500px;
  background-color:white;
  border-radius: 10px;
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(405px); /* Start slightly off-position */
  transition:  transform 0.3s ease; /* Smooth transition */
}
.settings.show{
  visibility: visible;
  transform: translateY(0); /* Move into its correct position */
  transition: transform 0.3s ease, visibility 0s 0s;
}
.settings.hide{
  visibility: hidden;
  transform: translateY(505px); /* Move down slightly for exit animation */
  transition:  transform 1s ease, visibility 0s 3s;
}
.profilePicDiv{
  width:fit-content;
  height:fit-content;
  margin: auto;
  padding: 20px 0px;
}
.settings .profilePic{
  width: 150px;
  height: 150px;
  border-radius: 50%; 
}

.info{
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
} 

.changeInfo{
  display: flex;
  padding-left:20px;
}

.changeInfo input{
  font-size: 16px;
  width: 80%;
  padding: 3px 5px; 
  border-radius: 20px;
  border: 2px solid lightgrey;
}

.changeInfo button,.closeSettings{
  width: fit-content;
  height: fit-content;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  padding: 2px; 
  border: transparent;
  background-color: transparent;
  margin-top:2px;
} 

.changeInfo button:focus{
  border-color: grey;
}
.info label{
  padding: 5px;
  width : 80px;
}
.info p{
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  height: fit-content;  
  width : fit-content; 
  padding: 5px;   
}

.save{
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 20px; 
  background-color: #58bc82;
  border: 1px solid black;
}

.settings button:hover{
  cursor: pointer;
}

.closeSettings{
  position:absolute;
  top:10px;
  right:20px;
} 

.closeSettings:hover{
  background-color: lightgray;
}

/*Message notification css*/
.messageNotification{
  width : fit-content;
  height : fit-content; 
  padding:10px 20px;
  min-width: 200px;
  position: absolute;
  top:10px;
  left:30%;
  background-color: #EEEEEE;
  display: flex;
  border-radius: 50px;
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.35);
  transform: translateY(-100px);
  transition: transform 0.3s ease;
} 
/* .notificationInnerDiv{
  display:flex;   
  margin:auto;

}

.notificationAvatar{
  width : 50px;
  height : 50px;
  border-radius: 50%;
  background-color: grey;
} 

.messageNotification p{
  margin:0px;
  padding-left: 10px; 
  max-width: 300px; 
  width: fit-content; 
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  padding-top: 5px;

}

.notificationUsername{
  font-size: 18px;
  font-weight: 600;
} 

.messageNotification.show{
  visibility: visible; 
  transform: translateY(0px);
  transition : transform 0.3s ease, visibility 0s 0s;

}
.messageNotification.hide{
  visibility: hidden;
  transition : transform 1s ease, visibility 0s 5s;
}


